canvas {
    display: block;
    background-color: white;
    background: url("/PortfolioImages/HeaderImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
  }
  