#aboutImg{
    display: flex;
    padding: 3rem;
    align-items: flex-start;
    width: 20rem;
    height: 20rem;
}

.skillsCard{
    display: flex;
    padding: 3rem;
    align-items: flex-end;
    width: 20rem;
    height: 20rem;
}