div#headerContainer.container-fluid{
    background-color: blue;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 12px;
}

a.headerLi{
    color: rgb(0, 0, 0);
    //display: flex;
    position: relative;
    transition: 0.3s;
    font-size: 23px;
    text-decoration: none;
}

a.headerLi::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgb(14, 47, 51);
    height: 2px;
    bottom: -4px;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
}

a.headerLi.active::before{
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
}

ul#headerUl{
    //display: flex;
    //list-style: none;
    //justify-content: space-around;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}